'''
Created date: ${currentTime}

@author:  opsdev
'''

#set($key='mainfunction')
#foreach($item in ${otherAttribute.keySet()})
#if($item==$key)
#set($value=${otherAttribute.get($item)})                  
#end        
#end  
#=======================================================================================================================
# ${value}
#=======================================================================================================================  
def ${value}():
    print 'Hello World !' 

#=======================================================================================================================
# main
#=======================================================================================================================
if __name__=='__main__':    
    ${value}()     



